h1 {
  text-align: center;
  font-family: "Hoefler Text", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#game-board {
  width: 400px;
  margin: 4em auto;
  border-collapse: collapse;
}

#game-board td {
  border: 8px solid #999;
  border-radius: 19px;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  font-size: 2em;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
}

.value0 {
  background-color: #ffffff;
}

.value2 {
  background-color: #84c8e2;
}

.value4 {
  background-color: #0990c6;
}

.value8 {
  background-color: #06658b;
}

.value16 {
  background-color: #043a4f;
}

.value32 {
  background-color: #5c5cad;
}

.value64 {
  background-color: #333399;
}

.value128 {
  background-color: #24246b;
}

.value256 {
  background-color: #003399;
}

.value512 {
  background-color: #00297a;
}

.value1024 {
  background-color: #001f5c;
}

.value2048 {
  background-color: red;
}

#status {
  visibility: hidden;
  margin-bottom: 2em;
  font-family: "Hoefler Text", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
