h1 {
  text-align: center;
}

#game-board {
  width: 400px;
  margin: 4em auto;
  border-collapse: collapse;
}

#game-board td {
  border: 0.1em solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  font-size: 2em;
  color: white;
}

.value0 {
  background-color: #ffffff;
}

.value2 {
  background-color: #84c8e2;
}

.value4 {
  background-color: #53b1d7;
}

.value8 {
  background-color: #229bcc;
}

.value16 {
  background-color: #0990c6;
}

.value32 {
  background-color: #0882b2;
}

.value64 {
  background-color: #07739e;
}

.value128 {
  background-color: #06658b;
}

.value256 {
  background-color: #055677;
}

.value512 {
  background-color: #044863;
}

.value1024 {
  background-color: #032b3b;
}

.value2048 {
  background-color: #021d28;
}

.filled {
  color: white;
  background-color: #772222;
}

#winner {
  display: none;
}
