/* CSS Reset + <p> Properties */
* {
	margin: 0;
	padding: 0;
}

p {
	margin: 0.7em 0 1em 0;
}

/*Header and Nav Stuff*/
header {
	position: relative;
	color: white;
	font-family: "Hoefler Text", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  /*font-family: Helvetica, sans-serif;*/
}

header #heroimage {
	max-width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

header #logo {
	position: absolute;
	left: 0.3em;
	top: 0.3em;
	float: left;
	z-index: 1;
}

nav {
	float: right;
	margin-top: 1.9em; /* Replaces 30px */
	margin-right: 4%;
}

nav ul {
	list-style: none;
	position: relative;
	display: inline-table;
	z-index: 2;
}

nav ul li {
	float: left;
	margin: 0 1.9em; /* Replaces 30px */
	/*border-radius:1px;*/
}

nav ul li a {
	display: block;
	padding: 0.3em 0.55em; /* 5px 8px */
	color:white;
	font-size: 0.95em;
	text-decoration: none;
}

nav ul li:hover {
	background-color: #CBD946;
	/*background-color: #bcbcbc;*/
}

nav ul li a:hover {
	color: #232323;
}

nav ul ul {
	display:none;
	position:absolute;
}

nav ul li:hover > ul {
	display:block;
}

nav ul ul {
	background-color: #7C8340;
	border-radius: 0;
	padding: 0;
	border-top: 0.3em solid black;
	margin: 0;
}

nav ul ul li {
	float: none;
	border-bottom: 1px solid black;
	border-radius: 0;
	position:relative;
	margin: 0;
}

nav ul ul li a {
	padding: 0.3em 0.6em; /* a little wider than the non-dropdown boxes, was 10px*/
}

nav ul ul li a:hover {
	/*background-color:#dddddd;*/
}

#tagline {
	font-size: 2em;
	position: absolute;
	width: 60%;
	margin: 21% 20% 0 15%;
	letter-spacing: 0.1em; /* was 3px */
	z-index: 3;
}

div#spaceholder {
	width: 100%;
	padding-bottom: 47%;
}

div#simplepage {
	height: 125px;
	width: 100%;
	background-color: black;
}

/*Main Article Stuff*/
article {
	margin: 1.6em 15%; /* margin-top and -bottom was 30px */
	font-size: 1.2em;  /* Replaces 14pt */
	color: #999;  /*The Herman Cain Special*/
	font-family: "Hoefler Text", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

article header, h1, h2 {
	color: #7C8340;
	margin-top: 1.4em;
	line-height: 120%;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.3em;
}

article h3 {
	color: #7C8340;
	margin-top: 1.2em;
	font-size: 1.2em;
}

article h4 {
	color: #7C8340;
	margin-top: 0.8em;
}

p.date {
	font-style: italic;
	font-size: 1em; /* Replaces 12pt */
}

article p {
	line-height: 130%;
}

/*article a:hover {
	text-decoration: underline;
}*/

article footer {
	font-size: 0.8em; /* Replaces 10pt */
	background-color: white;
	font-style: italic;
	padding: 0 0 0 0.5em;
	margin-top: 1em;
}

article img {
	margin-bottom: 0.6em;
	margin-left: 5%;
}

article img.screenshot {
	width: 50%;
	height: auto;
	border: 1px solid #bbbbbb;
}

img.right {
	float: right;
	margin: 0 0 1.5em 1.5em;
}

img.left {
	float: left;
	margin: 0 1.5em 1.5em 0;
}

img.small {
	width: 8em;
	height: auto;
}

article ul {
  padding-left: 1.5em;
}

article ul li {
	line-height: 125%;
}

article ol {
  padding-left: 1.5em;
}

article ol li {
	line-height: 125%;
}

table.datatable {
	border-collapse: collapse;
}

table.datatable tr, table.datatable th, table.datatable td {
		background-color: #e7edf6;
		padding: 0.3em;
		font-size: 1em;
		border: 1px black solid;
}
			
table.datatable tr td:first-child {
	text-align:left;
}

table.datatable td {
	text-align:center;
}

code {
	background-color: #e7edf6;
	color: #878284;
	font-size: 0.95em; /*Replaces 11pt*/
	display: inline;
	margin: 0;
	padding: 1px 0.15em;
}

code.block {
	display: block;
	margin: 0px 1.4em 1.4em 1.4em; /*was 20px*/
	padding: 1px 0.2em;
	overflow-x: auto;
}

blockquote {
	display: block;
	line-height: 125%;
	margin: 0 5% 1.4em 5%;
	padding: 0.6em;
	background-color: #eee;
}

.attribution {
	margin-left: 50%;
	font-style: italic;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

/* Page Footer Stuff */
footer {
	background-color: #abacad;
	font-size: 0.75em;
	padding: 0.8em 2em;
	margin-top: 3.5em;
}

.socialmedia {
	display: inline-table;
	vertical-align: middle;
	padding-left: 0.5em;
 }

 .socialmedia img {
 	width: 1.5em;
 	height: 1.5em;
 	border: 1px solid white;
 	border-radius: 3px; /* last bit of px to clean up */
 	margin: 0 0.5em;
 }

 .socialmedia img:hover {
	background-color: #7C8340;
}

/*For Home Page */
.homepage p {
	margin: 1.4em 0;
}

#taglinehome {
	font-size: 2.4em;
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 38%;
	z-index: 3;
}

/*For Projects Page*/

.projects table {
	margin-top: 1em;
	border: 0;
}

.projects td {
	width: 50%;
	vertical-align: middle;
	line-height: 120%;
	padding: 2% 2% 2% 4%;
	font-size: 1em;
}

.projects img {
	width: 100%;
	border: 1px solid #999;
	margin: 0;
}

/* For Blogs Index */
div.linkslist {
	margin: 1.5em 5% 0 5%;
}

.linkslist a {
	color: #7C8340;
}

.linkslist a:hover {
	text-decoration: underline;
}

article a {
	color: #0990c6;
	text-decoration:none;
}

/*For Resume Page*/
.resumelist ul {
	list-style: none;
	padding: 0;
}

.resumelist ul li {
	padding: 0.7em 0 0.3em 0;
}

.resumelist ul ul li {
	padding: 0;
	margin: 0.1em 0 0 0;
	font-style: italic;
	/*color: #777;*/
}

.bulleted {
	padding-left: 1em;
}

/*For Contact Page*/
.contactlinks img {
	background-color: #abacad;
	width: 5em;  /* was 100px */
	height: 5em;
	border: solid 3px #abacad; /* two more pixel clean-up spots */
	border-radius: 5px;
	vertical-align: middle;
	margin: 2% 5%;
}

.contactlinks img:hover {
	background-color: #7C8340;
	border-color: #7C8340;
}

.twitter img:hover {
	background-color: #00ABE3;
	border-color: #00ABE3;
}

.linkedin img:hover {
	background-color: #007bb6;
	border-color: #007bb6;
}

.github img:hover {
	background-color: #333;
	border-color: #333;
}

/* Navbar Color Swap */

nav.colorswap ul li a {
	color: #111;
}

nav.colorswap ul li a:hover {
	color: #fff;
}

nav.colorswap ul ul {
	border-color: #cccccc;
}

nav.colorswap ul ul li {
	border-color: #cccccc;
}